[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
tqdm = "*"
nltk = "*"
gensim = "*"
sklearn = "*"
matplotlib = "*"
stopwords = "*"


[dev-packages]



[requires]

python_version = "3.6"
